h1, p{
  color: white;
}
h1 {
  font-size: 200%;
}
a:link {
  color: #9ccaff;
}
a:visited {
  color: #d9b2ff;
}
a:hover {
  color: white;
}
body {
  background-color: black;
}
#main {
  padding-left: 40px;
  padding-top: 40px;
  font-family: "helvetica", sans-serif;
}
#contents {
  display: inline;
}
#desc {
  display: inline;
}
#title {
  display: inline;
}
#links {
  display: inline;
  float: right;
  padding-right: 40px;
}
